---

---
<header id="head">
	<h1>Magellan EV</h1>
</header>

<script>
window.addEventListener('scroll', () => {
	const scrollPosition = window.scrollY;
	if (scrollPosition > 200) {
		document.getElementById('head').style.backgroundColor = '#fff';
	} else {
		document.getElementById('head').style.backgroundColor = 'rgba(255,255,255,0.4)';
	}
});
</script>

<style>
header {
	padding: 16px;
	position: fixed;
	background-color: rgba(255,255,255, 0.4);
	width: 100%;
}
</style>